.pink {
    color: pink;
}
.gray {
    color: gray;
}
.red {
    color: red;
}
.green {
    color: green;
}
.yellow {
    color: yellow;
}
.background-blue {
    background-color: blue;
}
.background-orange {
    background-color: orange;
}
.background-pink {
    background-color: pink;
}
.background-red {
    background-color: red;
}
.background-green {
    background-color: green;
}
.background-yellow {
    background-color: yellow;
}
    